<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTripsServlet</servlet-name>
        <servlet-class>controller.SearchTripsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FareEstimationServlet</servlet-name>
        <servlet-class>controller.FareEstimationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseTicketServlet</servlet-name>
        <servlet-class>controller.PurchaseTicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>controller.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PurchaseTicketFormServlet</servlet-name>
        <servlet-class>controller.PurchaseTicketFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassengerTicketHistoryServlet</servlet-name>
        <servlet-class>controller.PassengerTicketHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketServlet</servlet-name>
        <servlet-class>controller.TicketServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsServlet</servlet-name>
        <servlet-class>controller.ReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTripsServlet</servlet-name>
        <url-pattern>/SearchTripsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FareEstimationServlet</servlet-name>
        <url-pattern>/FareEstimationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseTicketServlet</servlet-name>
        <url-pattern>/PurchaseTicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PurchaseTicketFormServlet</servlet-name>
        <url-pattern>/PurchaseTicketFormServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassengerTicketHistoryServlet</servlet-name>
        <url-pattern>/PassengerTicketHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketServlet</servlet-name>
        <url-pattern>/TicketServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/ReportsServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>cityBaseFare</param-name>
        <param-value>10.0</param-value>
    </context-param>
    <context-param>
        <param-name>interCityBaseFare</param-name>
        <param-value>2.5</param-value>
    </context-param>
    <context-param>
        <param-name>studentDiscount</param-name>
        <param-value>0.2</param-value>
    </context-param>
    <context-param>
        <param-name>seniorDiscount</param-name>
        <param-value>0.3</param-value>
    </context-param>
    <context-param>
        <param-name>eveningDiscount</param-name>
        <param-value>0.15</param-value>
    </context-param>
    <context-param>
        <param-name>weeklyDiscount</param-name>
        <param-value>0.5</param-value>
    </context-param>
    <listener>
        <listener-class>listener.AppStartupListener</listener-class>
    </listener>
</web-app>
